/* Add here all your CSS customizations */

a.on-default.edit-row{
    margin-right: 10px;
}
span.edit-buttons{
    margin: 6px 15px;
}
.error{
    display: none;
}
.check-active{
    margin: 4px 7px auto auto;
}